

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  

  .body {
    color: hsl(0, 0%, 100%);

  }



  .slidertestimonial .swiper-button-prev,
  .slidertestimonial .swiper-button-next {
      @apply bg-green-600 text-white top-[96%] md:top-[90%] w-[46px] rounded-full z-20
  }
  .slidertestimonial .swiper-button-prev { 
      @apply lef-[35%] md:left-[40%] lg:left-[45%]
  }
  .slidertestimonial .swiper-button-next { 
    @apply right-[35%] md:right-[40%] lg:right-[45%]
  }
  .slidertestimonial .swiper-button-prev::after,
  .slidertestimonial .swiper-button-next::after {
    @apply text-lg
  }

 

}

@layer utilities {

  .animation-delay-2000 {
    animation-delay: 2s,
  };

  .animation-delay-4000 {
    animation-delay: 4s,
  };

  .btn_light { 
    @apply  border-none bg-surfacelight-secondary px-8 text-green-50
  }
  .btn_white_text  { 
    @apply  border-white bg-white px-8 py-3 text-gray-90
  }
  .btn_green  { 
    @apply  border-green-50 bg-green-50 px-8 py-5 text-white
  }
  .btn_dark_green { 
    @apply  bg-green-90 px-8 py-4 text-white transition-all hover:bg-black
  }
  .btn_dark_green_outline  { 
    @apply border-gray-20 bg-green-90 px-8 py-5 text-white
  }
  
  .max-container {
    @apply mx-auto max-w-[1440px];
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }

  .flexBetween {
    @apply flex items-center justify-between;
  }

  .flexStart {
    @apply flex items-center justify-start;
  }

  .flexEnd {
    @apply flex items-center justify-end;
  }

  /* Typography */

  .font-6extra-large {
    @apply text-[72px] font-[900] leading-[100%];
  }

  .font-5extra-large {
    @apply text-[60px] font-[800] leading-[100%];
  }

  /* Headings and Paharagaphs */

  h1 {
    @apply text-[48px] font-[600] leading-[100%] ;
  }

  h2 {
    @apply text-[36px] font-[400];
  }

  h3 {
    @apply text-[30px] font-[500];
  }

  h4 {
    @apply text-[24px] font-[600];
  }

  h5 {
    @apply text-[20px] font-[600];
  }

  h6 {
    @apply text-[18px] font-[600];
  }

  p {
    @apply text-[16px] font-[400];
  }

  span {
    @apply text-[13px] font-[500];
  }

}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dot-mask {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background-image: radial-gradient(#e5e7eb 1px, transparent 1px);
  background-size: 16px 16px;
  -webkit-mask-image: radial-gradient(
    ellipse 50% 50% at 50% 50%,
    #000 60%,
    transparent 100%
  );
  mask-image: radial-gradient(
    ellipse 50% 50% at 50% 50%,
    #000 60%,
    transparent 100%
  );

 
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}